* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
}

.navbar {
    background: #004aad;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu a {
    margin-left: 25px;
    text-decoration: none;
    color: #ffffffcc;
    font-size: 16px;
    transition: 0.3s;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.container h1 {
    font-size: 32px;
    color: #222;
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 30px;
    color: #555;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    flex: 1;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    
}

.card h2 {
    font-size: 40px;
    color: #004aad;
    margin-bottom: 10px;
}


.card p {
    color: #777;
}

.titulo-tabela {
    margin-bottom: 15px;
    font-size: 24px;
    color: #004aad;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

table th {
    background: #004aad;
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

table td {
    padding: 14px;
    border-bottom: 1px solid #eee;
}






