
h1,a{
    color: blue;
}
body {

    font-family: arial, sans-serif;
    background: #ffffff00;
}
form{
    background: white;
    width: 40%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;

}
h1{
    text-align: center;
}