body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #0066cc;
    color: white;
    border-radius: 4px;
    
}



p {
    text-align: center;
    margin-top: 10px;
}